*.class
*.html
*.jpg
*.png
*.gif
*.jar
*.cd
*.tif
*.xml
*.bbl
*.aux
*.blg
*.log
*.tcp
*.pdf
*.brf
*.zip
*.synctex.gz
*.tlog
*.exe
*.obj
*.pdb
*.ele
*.node
*.poly
*.sdf
*.asv
*.log
*.blg
*.bbl
*.aux
*.now
*.out
old/
auto/
*~
